html {
  font-size: 62.5%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  border: 0;
}

:root{
  --primary-color: #43A047;
  --text-grey-color: #212121;
  --text-disable-color: #E0E0E0;
}

// height
.min-h-100vh {
  min-height: 100vh;
}

.max-h-100vh {
  max-height: 100vh;
}

.h-100vh {
  height: 100vh;
}

.height-avatar {
  height: 56px;
}

.height-avatar-thumbnail {
  height: 40px;
}

.height-avatar-chat {
  height: 28px;
}

// width
.width-form-login {
  width: 600px;
}

//width, height size
.icon-size{
  width: 36px;
  height: 36px;
}

// text
.text-primary-color{
  color: var(--primary-color) !important;
}

.text-grey-color{
  color: var(--text-grey-color) !important;
}

.text-disable{
  color: var(--text-disable-color) !important;
}

.text-12 {
  font-size: 0.75rem;
}
.text-14 {
  font-size: 0.875rem;
}
.text-16 {
  font-size: 1rem;
}

.text-20 {
  font-size: 1.25rem;
}

.text-32 {
  font-size: 2rem;
}

.text-wrap {
  word-wrap: break-word; /* Chuyển xuống dòng khi từ quá dài */
  overflow-wrap: break-word; /* Tương tự như word-wrap */
  white-space: pre-wrap; /* Cho phép xuống dòng */
  word-break: break-word; /* Đảm bảo từ dài không làm tràn */
}

//bg
.bg-primary-color{
  background-color: var(--primary-color) !important;
}

//border-radius
.rounded-ts-lg {
  border-top-left-radius: 8px;
}

.rounded-te-lg {
  border-top-right-radius: 8px;
}

.rounded-ts-xl {
  border-top-left-radius: 24px;
}

.rounded-te-xl {
  border-top-right-radius: 24px;
}

//input
.form-input:focus-visible {
  border-block-end-width: 1px !important;
  border-block-end-style: solid !important;
  border-block-end-color: #42A5F5 !important;
  outline: none;
}

.outline-none {
  outline: none;
}

.user-select-none {
  user-select: none;
}

//img
.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.object-center {
  object-position: center;
}

//z-index
.z-index-99{
  z-index: 99 !important;
}

.capitalize {
  text-transform: capitalize;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate,
.whitespace-nowrap {
  white-space: nowrap;
}

.p__MPF {
  background-color: #dbdbdb4f;
  flex: 1;
  height: 1px;
  width: 100%;
}

//hover
.hover-green-lighten:hover{
  color: #66BB6A !important;
}

.hover-opacity:hover{
  opacity: 0.9;
}

.hover-opacity-06:hover{
  opacity: 0.6;
}

.hover-bg-grey:hover{
  background-color: #f6f6f6 !important;
}

//flex
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

//css google
.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}
